/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: white;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: orange;
	font-family: "Quicksand", sans-serif;
	color: white;
}

h1 {
	margin-left: 10px
}

button {
	font-family: "Quicksand", sans-serif;
	height: 40px;
	width: 80px;
}

.hide {
	display: none;
}

#login {
	border: 1px solid black;
	height: 40vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.login {
	margin-top: 15%;
}

input {
	height: 30px;
}

.search {
	display: flex;
}

.traveler-dash {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10%;
}

.trips {
	border: 1px solid green;
	height: 70vh;
	width: 22vw;
	border-radius: 10px;
	text-align: center;
}